#journey_planner {
    display: flex;
    width: 100svw;
    height: 100svh;
}




#journey_planner_planner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}



#journey_planner_selected_result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}



#journey_planner_planner_form_display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#journey_planner_planner_form_display_select {
    display: flex;
    position: relative;
    z-index: 2;
    overflow: auto hidden;
}

.journey_planner_form_display_select_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    line-height: 16px;
    font-weight: 500;
}

.journey_planner_form_display_select_button.journey_planner_form_display_select_button_selected {
    background-color: var(--main-bg-light-col-1);
    box-shadow: var(--main-box-shadow-1);
}



#journey_planner_planner_form_container {
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--main-bg-light-col-1);
    box-shadow: var(--main-box-shadow-1);
    z-index: 1;
}

#journey_planner_planner_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

#journey_planner_form_title {
    margin: 0 0 20px 0;
}

#journey_planner_planner_form_place_inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}






.journey_planner_form_place_input {
    display: flex;
    align-items: center;
}

.journey_planner_form_place_input_label {
    width: 60px;
    font-weight: 500;
}

.journey_planner_form_place_input_container {
    --journey-planner-form-place-input-border: 1px solid var(--main-bg-light-col-2);
    --journey-planner-form-place-input-input-field-pad: 12px;
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.journey_planner_form_place_input_main {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    border: var(--journey-planner-form-place-input-border);
    background-color: var(--main-bg-dark-col-1);
    overflow: hidden;
}

.journey_planner_form_place_input_main:not(.journey_planner_form_place_input_main_focused) {
    border-radius: 8px;
}

.journey_planner_form_place_input_main.journey_planner_form_place_input_main_focused {
    border-radius: 8px 8px 0 0;
}

.journey_planner_form_place_input_input_field {
    all: unset;
    width: 100%;
    height: 100%;
    padding: var(--journey-planner-form-place-input-input-field-pad);
    box-sizing: border-box;
}

.journey_planner_form_place_input_icons {
    position: absolute;
    right: var(--journey-planner-form-place-input-input-field-pad);
    display: flex;
    gap: 8px;
}



.journey_planner_form_place_input_suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 100%;
    z-index: 1;
    background-color: var(--main-bg-dark-col-1);
    border-left: var(--journey-planner-form-place-input-border);
    border-right: var(--journey-planner-form-place-input-border);
    border-bottom: var(--journey-planner-form-place-input-border);
    box-shadow: var(--main-box-shadow-1);
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    overflow: hidden auto;
}

.journey_planner_form_place_input_suggestions:not(.journey_planner_form_place_input_suggestions_focused) {
    display: none;
}





.journey_planner_form_place_input_suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.journey_planner_form_place_input_suggestion:not(:last-child) {
    border-bottom: 1px solid var(--main-bg-light-col-2);
}

.journey_planner_form_place_input_suggestion:hover {
    background-color: var(--main-bg-light-col-2);
}

.journey_planner_form_place_input_suggestion:active {
    background-color: var(--main-bg-light-col-3);
}

.journey_planner_form_place_input_suggestion_info {
    display: flex;
    flex-direction: column;
}

.journey_planner_form_place_input_suggestion_icons {
    display: flex;
    gap: 4px;
}

.journey_planner_form_place_input_suggestion_name {}

.journey_planner_form_place_input_suggestion_location {
    color: var(--main-sub-col-1);
}







#journey_planner_results_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden scroll;
}


#journey_planner_results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 20px 4px 20px 20px;
    box-sizing: border-box;
}





/* for plans (it aint organized) */
.journey_planner_result {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--main-box-shadow-1);
    background-color: var(--main-bg-light-col-1);
}

.journey_planner_result_top_info {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.journey_planner_result_top_info_time {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
}

.journey_planner_result_top_info_expected_time {}

.journey_planner_result_top_info_aimed_time {
    color: var(--delay-col);
}

.journey_planner_result_top_info_expected_duration {
    color: var(--main-sub-col-1);
    line-height: 16px;
}

.journey_planner_result_content_info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.journey_planner_result_content_info_segment {}

.journey_planner_result_content_info_arrow {
    display: flex;
    align-items: center;
}




/* for departures */
.journey_planner_departure_platform {
    font-size: 18px;
    font-weight: 500;
}




.journey_planner_departure_lines {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.journey_planner_departure_line {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--main-bg-col);
}

.journey_planner_departure_line_calls {
    display: flex;
    gap: 8px;
    overflow: auto hidden;
}

.journey_planner_departure_line_call {
    display: flex;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--main-bg-light-col-1);
    font-weight: 500;
}












.transport_id {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--transport-id-col);
}

.transport_id_icon {
    display: flex;
}

.transport_id_number {
    line-height: 16px;
    font-weight: 500;
}




.transport_id_labeled {
    display: flex;
    align-items: center;
    gap: 6px;
}

.transport_id_labeled_label {
    line-height: 16px;
    font-weight: 500;
    font-size: 16px;
}




.walk_transport_id_distance {
    line-height: 16px;
    font-weight: 500;
}















#journey_planner_content {
    display: flex;
    flex-grow: 1;
}

#journey_planner_content_map_container {
    width: 100%;
    height: 100%;
}

#journey_planner_content_map {
    width: 100%;
    height: 100%;
}












#journey_planner_planner_selected_result {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden auto;
}



#journey_planner_selected_result_segments {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}



.journey_planner_selected_result_segment {
    display: flex;
    flex-direction: column;
}




.journey_planner_selected_result_segment_row {
    display: flex;
}



.journey_planner_selected_result_segment_row_side {
    display: flex;
    align-items: center;
}


.journey_planner_selected_result_segment_row_left {
    width: 40px;
    flex-shrink: 0;
}

.journey_planner_selected_result_segment_row_middle {
    width: 30px;
    flex-shrink: 0;
}

.journey_planner_selected_result_segment_row_right {
    flex-grow: 1;
}





.journey_planner_selected_result_segment_row_right_info {
    padding: 16px 0;
}




.journey_planner_planner_selected_result_time {
    display: flex;
    flex-direction: column;
}

.journey_planner_planner_selected_result_time_expected {
    width: 100%;
    font-weight: 500;
}

.journey_planner_planner_selected_result_time_aimed {
    width: 100%;
    font-weight: 500;
    color: var(--delay-col);
}






.journey_planner_selected_result_line_container {
    position: relative;
    width: 100%;
    height: 100%;
}



.journey_planner_selected_result_line {
    --journey-planner-selected-result-line-border-radius: calc(var(--journey-planner-selected-result-line-thickness) * 0.5);
    position: absolute;
    top: var(--journey-planner-selected-result-line-top);
    bottom: var(--journey-planner-selected-result-line-bottom);
    left: calc(50% - (var(--journey-planner-selected-result-line-thickness) * 0.5));
    width: var(--journey-planner-selected-result-line-thickness);
    background-color: var(--journey-planner-selected-result-line-color);
}

.journey_planner_selected_result_line.journey_planner_selected_result_line_top {
    border-radius: var(--journey-planner-selected-result-line-border-radius) var(--journey-planner-selected-result-line-border-radius) 0 0;
}

.journey_planner_selected_result_line.journey_planner_selected_result_line_middle {
    border-radius: 0;
}

.journey_planner_selected_result_line.journey_planner_selected_result_line_bottom {
    border-radius: 0 0 var(--journey-planner-selected-result-line-border-radius) var(--journey-planner-selected-result-line-border-radius);
}

















/* map icons */
.journey_planner_map_quay_icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}